.ProjectPageHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    outline: 1px outset #22ECDA;
    outline-offset: 0px;
    padding: 20px;
    margin: 50px;
}

.ProjectPageHeaderName{
    grid-column-start: 1;
    float: right;
}


.ProjectPageHeaderIcon{
    grid-column-start: 2;
}

.ProjectPageHeaderStatus{
    grid-column-start: 3;
}

.ProjectPageHeaderIcon img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #1C6EA4;
}