.ProfileInfo_wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 240px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.avatarZone {
    grid-area: 1/1/1/1;
    outline-offset: 0px;

}

.infoZone {
    grid-area: 1/2/1/2;

    outline-offset: 0px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profileImage img {
    width: 200px;
}

.addFriend button {
    width: 165px;
    height: 35px;
}

.addFriend img {
    width: 35px
}

.addFriend {
    display: flex;

}

.profileInfo{
    grid-column-start: 1;
    padding: 15px;
}

.ratePlace{
    grid-column-start: 2;
}

.ratePlace img{
    width : 160px;
    padding: 25px;
}

.QRCodePlace{
    grid-column-start: 3;
}

.QRCodePlace img{
    width: 230px;
    margin-left: 15px;
}
.container_profile_info {
    padding-top: 140px;
}
.container_profile_info .container {
    padding: 30px;
}


