.profileAchievements{
    display: flex;
    justify-content: space-around;
    grid-row-start: 1;
 }

.profileAchievements img{
    margin-top: 25px;
    width: 150px;
    height: 150px;
}

.achievement{
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    outline: 1px outset #22ECDA;
    outline-offset: 0px;

}

.achievementSpace{
    display: grid;
    grid-template-rows: 1fr 60px;
}

.profileAchievementsNames{
    grid-row-start: 2;
    display: flex;
    justify-content: space-around;
}

