.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;

  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;

}

.progress .progress-right {
  right: 0;

}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;

}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}
.text_progress {
  padding-top: 10px;
}
.progress {
  margin: 20px;
}
.achievement_card_disable {
  color: #c7c7c7!important;
}
.border-primary {
  border-color: rgba(53, 217, 217, 0.71) !important;
}
.data_card {
  margin-right: -2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.data_card .icon {
  margin-left: 8px;
  font-size: 60px;
  color: #c7c7c7!important;
}
.data_card .data_icon {
  margin-top: -15px;
}
.icon-java{
  margin-left: 7px;
}
.data_card_main{
  margin-left:20px ;
  margin-right: 17px;
  margin-bottom: 30px;
}