.members_prj {
    margin-top: 50px;
}
.col_member {
    margin-top: 20px;
    margin-bottom: 20px;
}
.follow_btn_group {
    position: relative;
    margin-top: -8px;
}
.card_all_members {
    margin-top: 25px;
    margin-bottom: 25px;
}