.prj_page_bg {
  margin-top: -63px;
}
.prj_page_cont {
  padding-top: 150px;
}
.prg_page_img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}
.padding_prj {
  padding: 20px;
}
.status_prj {
  padding-top: 50px;
}
.prj_page_icon {
  font-size: 30px;
  padding-right: 15px;
}
.social_icons {
  margin-top: 30px;
}