.profile_list_cont {
  margin-top: 50px;
}
.profile_list_img {
  max-width: 150px;
  margin: 20px;
  max-height: 150px;
}
.project_list_bg {
  margin-top: -164px;
}
.project_list_main_cont {
  margin-top: 100px;

}
.project_list_bg {
position: relative;
  padding-top: 140px;
}
.status_col {
  margin-top: 50px;
}